.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-color: #B88B5E;
  border-bottom-width: 8px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  border-radius: 10px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.offer-cat {
  background-color: #B88B5E;
  color: white;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: -73px;
  margin-left: -30px;
  position: absolute;
}
