
h1 {
  font-size: 24px;
  font-family: poppins;
  font-weight: 500 ;
}

p {
  font-size: 14px;
  font-family: poppins;
}

h2 {
  font-size: 18px;
  font-family: poppins;
  font-weight: 500 ;
}

h3 {
  font-size: 18px;
  font-family: poppins;
  font-weight: 300 ;
}

h5 {
  font-size: 16px;
  font-family: poppins;
  font-weight: 150 ;
}

.color-link-none {
  color: #212529;
}

.color-link-none:hover {
  color: #212529;
}

p.colored {
  color: #ACCACA;
  font-weight: 500 ;

}
