
<div class= container >
  <p class="mt-4 ">Enuentra las ofertas más cercanas a tu ubicación</p>

   <% @offers.each do |offer| %>
    <% if current_user.category == "gold" %>
      <%= render 'normal_card', offer: offer %>
    <% elsif current_user.category == "silver" && offer.level == "bronze" || current_user.category == "silver" && offer.level == "silver" %>
      <%= render 'normal_card', offer: offer %>
    <% elsif current_user.category == "bronze" && (offer.level == "bronze") %>
      <%= render 'normal_card', offer: offer %>
    <% else %>
      <%= render 'disable_card', offer: offer %>
    <% end %>
  <% end %>
</div>


