.btn-bbva-primary {
  background-color: #ACCACA;
  border-color: #ACCACA;
  color: #fff;
}

.btn-bbva-primary:hover {
  background-color: #ACCACA;
  border-color: #ACCACA;
  color: #fff;
}

.btn-bbva-primary:focus {
  box-shadow: none;
  border-color: #ACCACA;
  color: #fff;
}

.btn-bbva-secondary{
  background-color: #fff;
  border-color: #ACCACA;
  color: #ACCACA ;
}

.btn-bbva-secondary:hover {
  background-color: #fff;
  border-color: #ACCACA;
  color: #ACCACA ;
}

.btn-bbva-secondary:focus {
  box-shadow: none;
  border-color: #ACCACA;
  color: #ACCACA ;
}


.btn-bbva-map {
  background: #e97d63;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10;
}
.fixed-bottom {
  // background: red; 
  margin-bottom: 10px; 
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // border-radius: 50%;
}

#map-toggler {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#btn-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
}