.navbar-lewagon {
justify-content: space-between;
height: 65px;
left: 0px;
top: 0px;
background: rgba(196, 196, 196, 0.15);
;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
