.border-items {
  border-bottom: 2px solid #D7D7D7;
}

.icon {
  font-size: 16px;
  padding-right: 10px;
}

// .background-icon {
//   background: linear-gradient(#ACCACA, white);
//   // background-color: #ACCACA;
//   background-position: right;
//   border-radius: 50px;
// }
