.oferta {
position: absolute;
width: 375px;
height: 216px;
left: 0px;
top: 87px;
}

.description {
  box-shadow: 2px;
}

.voucher {
  color: #ACCACA;

}
.img-show > img{
    height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-color: #B88B5E;
  border-bottom-width: 8px;
}

img {
  border-bottom-style: solid;
  border-bottom-color: #B88B5E;
  border-bottom-width: 8px;
  width: 100%;
}

.show {
      margin-top: -37px;
    margin-left: 0px;
  }
